<h1>Planes</h1>

<ol>
  <% @planes.each do |plane| %>
    <button type="button" id="select-plane-button" data-remote="true" data-url="/planes/<%=plane.id%>" data-params="plane_id=<%=plane.id%>"><%=plane.name%></button>
  <% end %>
</ol>

<section id= "plane-detail-section">
</section>

<section id="update-plane" style="display:none">
  <button id="update-plane-button" type="button" data-remote="true" data-method="put">Update Seat Configuration</button>
</section>

<section id="errors-section">
</section>

<section id="destroy-plane">
  <button type="button" style="display:none" id="sell-plane-button" data-method="delete" data-remote="true">Sell Plane</button>
  <button type="button" style="display:none" id="break-lease-button" data-method="delete" data-remote="true">Break Lease</button>
</section>

<%= link_to 'New Plane', new_plane_path %>
