$('.buy-buttons').empty()
$('.buy-controls').empty()
$('#plane-count').val(1)
$('.buy-controls').css("display", "none")
<% if Book.find_by(user_id:@user_id).balance > PlaneModel.find(@plane_model_id).cost  %>
  $('#errors-section').append("<p>You don't have enough funds to buy this plane, consider leasing!</p>");
  $('#buy-buttons').append('<button data-params="plane_model_id=<%=@plane_model_id%>" disabled type="button" data-remote="true" data-url="/planes/buy">Buy Plane</button>')
<% else %>
  $('#buy-buttons').append('<button data-params="plane_model_id=<%=@plane_model_id%>" type="button" data-remote="true" data-url="/planes/buy">Buy Plane</button>')
<% end %>
$('#buy-buttons').append('<button data-params="plane_model_id=<%=@plane_model_id%>" type="button" data-remote="true" data-url="/planes/lease">Lease Plane</button>')

<% if Hub.where(user_id: @user_id).empty? %>
  $('#errors-section').append("<p>You need to operate in at least one hub for buying new planes!</p>")
  $('#buy-buttons').empty()
<% end %>
