<h1>New Plane</h1>

<section id= "pla_man-section">
  <%= render partial: 'plane_manufacturers/index' %>
</section>

<section id= "pla_mod_fam-section">
</section>

<section id= "pla_mod-section">
</section>

<section id= "pla_mod-detail-section">
</section>

<section id="buy-buttons">
</section>

<section id= "errors-section">
</section>

<section class="buy-inputs" style="display:none" id="seat-configuration" style="display:none">
</section>

<input class="buy-inputs" style="display:none" id="plane-count" type="integer" name="planes" value="1">

<select class="buy-inputs" style="display:none" id="hub-select" name="location">
</select>

<section class="buy-controls" style="display:none" id="delivery-date-section">
</section>

<section class="buy-controls" style="display:none" id="cost-section">
</section>

<section class="buy-controls" style="display:none" id="incentive-section">
</section>

<%= link_to 'Back', planes_path %>
