<% if City.find(@city_id).hubs.empty? %>
  $('#select-hub').css("display", "block");
<% else %>
  <% City.find(@city_id).hubs.each do |h|  %>
    <% if h.user_id == @user_id %>
      $('#errors-section').append("<p>Hub already exist!</p>");
    <% else %>
      $('#select-hub').css("display", "block");
    <% end %>
  <% end %>
<% end %>
