<h1>Hubs</h1>
<ol>
  <% @hubs.each do |hub| %>
    <button type="button" id="select-hub-button" data-remote="true" data-url="/hubs/<%=hub.id%>" data-params="hub_id=<%=hub.id%>"><%=hub.name%></button>
  <% end %>
</ol>

<section id= "hub-detail-section">
</section>

<section id="update-hub" style="display:none">
  <button id="update-hub-button" type="button" data-remote="true" data-method="put">Add 25 more slots</button>
</section>

<section id="errors-section">
</section>

<section id="destroy-hub" style="display:none">
  <button type="button" id="destroy-hub-button" data-method="delete" data-remote="true">Withdraw from Hub</button>
</section>



<%= link_to 'New Hub', new_hub_path %>
