<h1>Create a new Hub</h1>

<section id= "territory-section">
  <%= render partial: 'territories/index' %>
</section>

<section id= "country-section">
</section>

<section id= "city-section">
</section>

<section id= "city-detail-section">
</section>

<section id="back-to-cities-section">
</section>

<button type="button" name="button" id="select-hub">Select Hub</button>

<%= link_to 'Back', hubs_path %>
