<h1>Create a new Hub</h1>

<section id= "errors-section">
</section>

<section id= "territory-section">
  <%= render partial: 'territories/index' %>
</section>

<section id= "country-section">
</section>

<section id= "city-section">
</section>

<section id= "city-detail-section">
</section>

<section id="back-to-cities-section">
</section>

<section id="select-hub" style="display:none">
  <button id="select-hub-button" type="button" name="button" data-remote="true" data-url="/hubs" data-params="" data-method="post">Select Hub</button>
  <p>Designated slots : 25</p>
</section>

<%= link_to 'Back', hubs_path %>
