<h1>Create a new Hub</h1>

<section id= "territory-section">
  <h2>Select a Territory</h2>
  <ol class="territory">
    <% @territories.each do |t| %>
      <%= link_to t.name, filter_countries_path(territory_id: t.id), remote: true %>
    <% end %>
  </ol>
</section>

<section id= "country-section">
</section>

<section id= "city-section">
</section>

<%= link_to 'Back', hubs_path %>
