<h1>Create a new Hub</h1>

<section id= "territory-section">
  <%= render partial: 'territories/index' %>
</section>

<section id= "country-section">
</section>

<section id= "city-section">
</section>

<section id= "city-detail-section">
</section>

<%= link_to 'Select' , hubs_path, method: :post, remote: true %>
<%= link_to 'Back', hubs_path %>
