<section id= "pla_man-section">
  <%= render partial: 'plane_manufacturers/index' %>
</section>

<section id= "pla_mod_fam-section">
</section>

<section id= "pla_mod-section">
</section>

<section id= "pla_mod-detail-section">
</section>

<%= link_to 'Back to Home Page', root_path %>
