<section id= "plane-manufacturer-section">
  <%= render partial: 'plane_manufacturers/list' %>
</section>

<section id= "plane-model-family-section">
</section>

<section id= "plane-model-section">
</section>

<section id= "plane-model-detail-section">
</section>

<section id="seat-configuration-section">
</section>

<%= link_to 'Back to Home Page', root_path %>
