<section id= "pla_man-section">
</section>

<section id= "pla_mod_fam-section">
</section>

<section id= "pla_mod-section">
</section>

<section id= "pla_mod_detail-section">
  <%= render 'show', plane_model: @plane_model %>
</section>

<%= link_to 'Back', plane_models_path %>
