<h1>Welcome to Airline Simulator</h1>

<section id= "menu-section">
  <ol class="menu-items">
    <%= link_to "Available Cities", cities_path %>
    <%= link_to "Available Plane Models", plane_models_path %>
  </ol>
</section>
