<h2>Countries</h2>
<ol class="country">
  <% @list.each do |country| %>
    <button type="button" id="select-country-button" data-remote="true" data-url="/cities" data-params="country_id=<%=country.id%>"><%=country.name%></button>
  <% end %>
</ol>
