<h2>Countries</h2>
<ol class="country">
  <% @list.each do |country| %>
    <%= link_to country.name, filter_cities_path(country_id: country.id), remote:true %>
  <% end %>
</ol>
<p><%= link_to "Back to Territory Selection", cities_path %></p>
