<h2>Cities</h2>
<ol class="city">
  <% @list.each do |city| %>
    <button type="button" id="select-city-button" data-remote="true" data-url="/cities/<%=city.id%>" data-params="city_id=<%=city.id%>"><%=city.name%></button>
  <% end %>
</ol>
