<section id= "territory-section">
  <%= render partial: 'territories/index' %>
</section>

<section id= "country-section">
</section>

<section id= "city-section">
</section>

<section id= "city-detail-section">
</section>

<section id="back-to-cities-section">
</section>

<%= link_to 'Back to Home Page', root_path %>
