<section id= "territory-section">
</section>

<section id= "country-section">
</section>

<section id= "city-section">
</section>

<section id= "city-detail-section">
  <%= render 'show', city: @city %>
</section>

<%= link_to 'Back', cities_path %>
